{% extends 'base.html'%}
{% from 'macros.html' import render_form, render_form_errors, render_delete_message %}

{% block title %}
    {{super()}}
    {{ title }}
{% endblock %}

{% block content %}

    {% if current_user.email %}
        {% include 'navbar.html' %}
    {% endif %}

    <main class="container-fluid p-4 pb-4 w-75 pt-5">

        {% if form.errors %}
            {{ render_form_errors(form.errors.items()) }}
        {% endif %}

        {% if form_title %}
            <h1 class="h1 text-center">{{ form_title }}</h1>
        {% endif %}

        {% if delete %} 
            {{ render_delete_message(delete, type, name)}}
        {% endif %}

        {% if not cv and type in ('work','education','hobby') %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">No tienes ningun@ {{ type_name }} </h4>
                <p>Para agregar un@ {{ type_name }}, debes rellenar primero tu Curriculum</p>
                <hr>
                <p class="mb-0">
                    <button id="add_data" class="btn"><a class="text-decoration-none" href="" >Crear Curriculum</a></button>
                </p>
            </div>
        
        {% else %}

            <form class="row justify-content-md-center pt-5" enctype="multipart/form-data" method="POST" action="{{ action }}">
                {{ form.csrf_token}}
                {{ render_form(form) }}
            </form>
            
        {% endif %}

    </main>

{% endblock content %}