{% macro render_form(form) %}
    {% for field in form %}
        {% if field.name not in ("csrf_token", "submit") %}
            {% if field.name == "remember_me" %}
                <div class="form-check mb-3 ms-4">
                    {{ field(class_="form-check-input", placeholder_=field.name) }}
                    {{ field.label(class_="form-check-label")}}
                </div>
            {% elif field.name in ("avatar", "project_img") %}
                <div class="mb-3">
                    {{ field.label(class_="form-label ms-3")}}
                    {{ field(class_="form-control", placeholder_=field.name) }}
                </div>
            {% elif field.name in ("level") %}
                <div class="mb-3">
                    {{ field.label(class_="form-label ms-3")}}
                    {{ field(class_="form-range", placeholder_=field.name) }}
                </div>
            {% else %}
                <div class="form-floating mb-3">
                    {{ field(class_="form-control", placeholder_=field.name) }}
                    {{ field.label(class_="ms-3")}}
                </div>
            {% endif %}
        {% elif field.name == "submit" %}
            <div class="d-grid gap-2">
                {{ field(class_="btn btn-block") }}
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro render_form_errors(form_errors) %}
    {% for field, errors in form_errors %}
        {% for error in errors%}
            <div class="text-center alert alert-danger alert-dismissible" role="alert">
                <button  type="button" class="col btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ error}}
            </div>
        {% endfor %}
    {% endfor %}
{% endmacro %}

{% macro render_table(fields, data, edit_action, delete_action) %} 
    <table class="table table-bordered table-info portfolio_table" style="width: 100%;">
        <thead>
            <tr>
                {% for field in fields %}
                    {% if field not in ("user_email") %}
                        <th>{{ field | capitalize}}</th>
                    {% endif %}
                {% endfor %}
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for row in data %}
                <tr>
                    {% for field in fields %}
                        {% if field not in ("user_email") %}
                            {% if row[field] and field not in ('final_date', 'start_date', 'current', 'course', 'level') 
                                and "https" in row[field] %}
                                <td>
                                    <a class="text-decoration-none text-black-50" href="{{ row[field] }}">Enlace</a>
                                </td>
                            {% elif not row[field] and field in ("image", "web") %}
                                <td>
                                    <span class="text-decoration-none text-black-50" >No hay enlace</span>
                                </td>
                            {% elif field in ("current") %}
                                {% if row[field] == 0 %}
                                    <td>Trabajo Actual</td>
                                {% else %}
                                    <td>Finalizado</td>
                                {% endif %}
                            {% else %}
                                <td>{{ row[field] }}</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <td class="text-center">
                        <a href="{{ edit_action }}{{ row.id }}" class="btn btn-warning mt-2"><i class='bx bxs-edit-alt'></i></a>
                        <a href="{{ delete_action }}{{ row.id }}" class="btn btn-danger mt-2"><i id="trash_icon" class='bx bxs-trash-alt'></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
{% endmacro %}

{% macro render_delete_message(delete, type, name) %}
    {% if delete %}
    <p class="text-center">
        <span class="text-black-50">¿Está seguro de que quieres eliminar el {{ type }}</span>
        <span class="font-weight-bold">
            {{ name }}
        </span>
        <span class="text-black-50">?</span>
    </p>
    {% endif %}
{% endmacro %}
