* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #E9EFC0;
    --secondary: #B4E197;
    --third: #83BD75;
    --fourth: #4E944F
}

body, html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body {
    background: var(--primary);
}

input[type="submit"], button[type="submit"], #add_data {
    background: var(--fourth);
}

textarea {
    resize: none;
    height: 20vh !important;
}

#user_nav {
    background: var(--fourth);
    color: #000;
}

#delete_btn a, #add_data a {
    color: #000;
}